<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal TSBR</title>
    <!-- tag link estática -->
    <link
        rel="stylesheet"
        href="../static/css/main.css">
    <!-- tag link do servidor -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<h1>Bem vindo ao TSBR</h1>

<p>Hola que tal</p>

<a href="{{ url_for('pagina_albuns') }}" >Álbuns</a>

<!-- começo do trecho gerado pelo servidor preenchida pelo servidor -->
{% autoescape false %}

{{ meu_novo_paragrafo }} <!--chaves duplas em variaveis para serem preenchidas -->

{% endautoescape %}
<!-- fim do trecho gerado pelo servidor -->

<!-- versão dinâmica, pelo servidor -->
<img src="{{ url_for('static', filename='img/taylor.png') }}", width="300px">

</body>

</html>